// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.card-grow {
    transition: all 0.2s ease;

    &:hover{
        transform: scale(1.1);
    }

    .card:hover {
        border-color: #1b1e21;
    }
}

body {
    position: relative;
    min-height: 100vh;
}

.container-fluid {
    padding-bottom: 32+23px;
}

footer {
    position: absolute;
    bottom: 0;
    height: 32+23px;
    width: 100%;
}

#toTopBtn {
    display: none;
    position: fixed;
    z-index: 99;
    bottom: 40px;
    right: 5px;
}
